.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.posts .post .contents .images img {
  object-fit: cover;
  width: 100%;
  pointer-events: none;
  grid-column: span 2;
}
.App-link {
  color: #61dafb;
}

.bb1 {
  border-bottom: 2px solid transparent !important;
}
.bb2 {
  border-bottom: 2px solid rgba(0, 0, 255, 0.658) !important;
}

/* nav a:nth-child(4){
  
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
